[submodule "Service-Mesh"]
	path = Service-Mesh
	url = https://github.com/cmlsgmv/Service-Mesh.git
[submodule "Resource-Orchestrator"]
	path = Resource-Orchestrator
	url = https://github.com/cmlsgmv/Resource-Orchestrator.git
